<%= form_for @evaluation, :html => { :class => "form-horizontal evaluation" } do |f| %>

  <% if @evaluation.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @evaluation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :taster_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :taster_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:taster_id) %>
  </div>
  <div class="form-group">
    <%= f.label :recipe_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :recipe_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:recipe_id) %>
  </div>
  <div class="form-group">
    <%= f.label :grade, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :grade, :class => 'form-control' %>
    </div>
    <%=f.error_span(:grade) %>
  </div>
  <div class="form-group">
    <%= f.label :evaluation_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :evaluation_date, :class => 'form-control' %>
    </div>
    <%=f.error_span(:evaluation_date) %>
  </div>
  <div class="form-group">
    <%= f.label :comments, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :comments, :class => 'form-control' %>
    </div>
    <%=f.error_span(:comments) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                evaluations_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
