<%- model_class = Employee -%>
<%- model_class_2 = Address -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @employee.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rg) %>:</strong></dt>
  <dd><%= @employee.rg %></dd>
  <dt><strong><%= model_class.human_attribute_name(:enrollment) %>:</strong></dt>
  <dd><%= @employee.enrollment %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sex) %>:</strong></dt>
  <dd><%= @employee.sex %></dd>
  <dt><strong><%= model_class.human_attribute_name(:salary) %>:</strong></dt>
  <dd><%= @employee.salary %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cpf) %>:</strong></dt>
  <dd><%= @employee.cpf %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nationality) %>:</strong></dt>
  <dd><%= @employee.nationality %></dd>
  <dt><strong><%= model_class.human_attribute_name(:scholarity) %>:</strong></dt>
  <dd><%= @employee.scholarity %></dd>
  <dt><strong><%= model_class.human_attribute_name(:father_name) %>:</strong></dt>
  <dd><%= @employee.father_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mother_name) %>:</strong></dt>
  <dd><%= @employee.mother_name %></dd>
  <h4 align="center"> Address </h4>
  <dt><strong><%= model_class_2.human_attribute_name(:street) %>:</strong></dt>
  <dd><%= @employee.addresses.first.street %></dd>
  <dt><strong><%= model_class_2.human_attribute_name(:number) %>:</strong></dt>
  <dd><%= @employee.addresses.first.number %></dd>
  <dt><strong><%= model_class_2.human_attribute_name(:complement) %>:</strong></dt>
  <dd><%= @employee.addresses.first.complement %></dd>
  <dt><strong><%= model_class_2.human_attribute_name(:cep) %>:</strong></dt>
  <dd><%= @employee.addresses.first.cep %></dd>
  <dt><strong>City:</strong></dt>
  <dd><%= @employee.addresses.first.district.city.name %></dd>
  <dt><strong><%= model_class_2.human_attribute_name(:district_id) %>:</strong></dt>
  <dd><%= @employee.addresses.first.district.name %></dd>
  <dt><strong><%= model_class_2.human_attribute_name(:type) %>:</strong></dt>
  <dd><%= @employee.addresses.first.address_type %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              employees_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_employee_path(@employee), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              employee_path(@employee),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
