<%= form_for @chef, :html => { :class => "form-horizontal chef" } do |f| %>

  <% if @chef.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@chef.errors.count, "error") %> prohibited this chef from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @chef.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :employee_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :employee_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:employee_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                chefs_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
